#exportPattern("^[[:alpha:]]+")
export("runSplitFusion")
export("annovar.exon.cds.extraction")
#export("snpEff.exon.cds.extraction")
export("SplitFusion.breakpoint.anno.postscript")
export("SplitFusion.breakpoint.anno.postscript.mid.anno")
export("SplitFusion.breakpoint.anno.postscript.direction")
export("SplitFusion.breakpoint.anno.postscript.direction.sub")
export("bam2igv")
